@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Inter, Bold;
}

body {
  background-image: url(../images/Fundo-Tela-de-Inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
} 

li {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
}

p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 11rem;
  color: white;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: Inter;
  font-weight: 700;
  color: var(--white);
}