@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: Inter;
}

body {
  display: flex;
  background-color: var(--light-cyan);
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  color: #10008a;
}