.barra-fixa {
  position: fixed;
  top: 0;
  left: 0;
  height: 4.5rem;
  width: 100%;
  background-color: #006eff;
  z-index: 2;
}

.logo {
  margin-left: 3rem;
  width: 12.6rem;
}

.elementos-direita {
  position: fixed;
  top: 20;
  right: 20;
}

.estudo {
  margin-left: 52.5rem;
  margin-bottom: 0.8rem;
  margin-right: 1.5rem;
  width: 2.25rem;
}

.logo-game {
  width: 2.5rem;
  margin-bottom: 0.8rem;
  margin-right: 1.5rem;
}

.usuario {
  margin-bottom: 0.8rem;
  margin-right: 1.5rem;
  width: 2.25rem;
}

.sobre-nos {
  width: 2rem;
  margin-bottom: 0.8rem;
  margin-right: 1.5rem;
}

