.primeira {
  margin-top: 2.5rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.voltar {
  text-decoration: none;
  color: var(--white);
  margin-top: 5rem;
  margin-left: 3rem;
}

.thiago-teodoro img {
  width: 10rem;
  margin-right: 5rem;
}

.thiago-teodoro p {
  margin-left: 1rem;
}

.gustavo-teodoro img {
  margin-right: 5rem;
  width: 10rem;
}

.gustavo-teodoro p {
  margin-left: 1rem;
}

.gabriel-pereira img {
  width: 10rem;
  margin-right: 5rem;
}

.gabriel-pereira p {
  margin-left: 1.5rem;
}

.mateus-melo img {
  width: 10rem;
}

.mateus-melo p {
  margin-left: 1.8rem;
}